In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
carac = "Data\\carac\\"
vehic = "Data\\vehic\\"
lieux = "Data\\lieux\\"
user = "Data\\user\\"

In [129]:
def carac_18_19(annee,sep):

    file = "Data\\carac\\caracteristiques_"+annee+".csv"
    dfcarac = pd.read_csv(file,sep=sep,
                          usecols=["jour","mois","an","hrmn","lum","dep","com","agg","int","atm","col","lat","long","Num_Acc"],
                          encoding="ISO-8859-1")
    dfcarac["an"] = annee                   
    dfcarac["hrmn"]=dfcarac["hrmn"].astype(str).str.replace(":","")
    dfcarac["hrmn"]=dfcarac["hrmn"].astype(str).apply(lambda x:x[:-2]+':'+x[-2:])
    dfcarac.drop(dfcarac[dfcarac["hrmn"].str.len()<4].index,inplace=True)
    dfcarac['Date'] = dfcarac["jour"].astype(str) + "-" +dfcarac["mois"].astype(str)+ "-" + dfcarac["an"].astype(str)
    dfcarac['Date'] = pd.to_datetime(dfcarac["Date"] + " " + dfcarac["hrmn"])
    dfcarac = dfcarac[["Date","lum","dep","com","agg","int","atm","col","lat","long","Num_Acc"]]
    #dfcarac = dfcarac.drop(['jour','mois','an','hrmn','adr'],axis=1)
    

    dfcarac['long']=dfcarac['long'].replace(',','.', regex=True).apply(pd.to_numeric,errors='coerce')
    dfcarac['lat']=dfcarac['lat'].replace(',','.', regex=True).apply(pd.to_numeric,errors='coerce')

    dfcarac.set_index("Num_Acc", drop=True, append=False, inplace=True, verify_integrity=True)
    return dfcarac


def lieux_18_19(file,sep):
    dflieux = pd.read_csv(file,sep=sep,usecols=["catr","surf","infra","Num_Acc"])
    #dflieux = dflieux[["catr","surf","infra","Num_Acc"]]
    #dflieux = dflieux.drop(["pr","pr1","plan","lartpc","larrout","situ","v1","nbv","v2","vosp","prof","circ","vma",'voie'],axis=1)
    dflieux.set_index("Num_Acc", drop=True, append=False, inplace=True, verify_integrity=True)
    return dflieux

def vehic_18_19(file,sep):
    dfvehic=pd.read_csv(file,sep=sep,usecols=["catv","obsm","Num_Acc"])
    #dfvehic=dfvehic[["catv","obsm","Num_Acc"]]
    #dfvehic.drop(["num_veh","senc","manv","occutc","motor",'obs',"choc","id_vehicule"],axis=1,inplace=True)
    dfvehic.drop_duplicates(subset ="Num_Acc", keep = 'first', inplace=True)
    dfvehic.set_index("Num_Acc", drop=True, append=False, inplace=True, verify_integrity=True)
    return dfvehic

In [130]:
dfcarac19 = carac_18_19("2019",';')
dflieux19 = lieux_18_19(lieux+"lieux-2019.csv",';')
dfvehic19 = vehic_18_19(vehic+"vehicules-2019.csv",';')

In [131]:
dfcarac19

,Date,lum,dep,com,agg,int,atm,col,lat,long
Num_Acc,,,,,,,,,,
201900000001,2019-11-30 01:30:00,4,93,93053,1,1,1,2,48.896210,2.470120
201900000002,2019-11-30 02:50:00,3,93,93066,1,1,1,6,48.930700,2.368800
201900000003,2019-11-28 15:15:00,1,92,92036,1,1,1,4,48.935872,2.319174
201900000004,2019-11-30 20:20:00,5,94,94069,1,1,1,4,48.817329,2.428150
201900000005,2019-11-30 04:00:00,3,94,94028,1,1,1,2,48.776362,2.433254
...,...,...,...,...,...,...,...,...,...,...
201900058836,2019-11-30 09:00:00,1,69,69288,1,1,5,2,45.666660,5.056120
201900058837,2019-11-27 07:50:00,1,67,67482,1,1,8,4,48.576900,7.726900
201900058838,2019-11-30 02:41:00,4,94,94021,1,1,1,6,48.771700,2.345760
201900058839,2019-11-30 15:20:00,1,78,78640,1,1,1,7,48.777289,2.223759
201900058840,2019-11-29 20:50:00,3,92,92047,1,1,1,2,48.835124,2.175110

In [134]:
dfcarac = carac_18_19("2009",'\t')
dfcarac

                            Date  lum  dep  com  agg  int  atm  col  lat  long
Num_Acc
200900000001 2009-01-30 20:30:00    3  440   67    1    1  1.0    6  0.0   0.0
200900000002 2009-01-17 03:00:00    3  440   17    1    1  1.0    3  0.0   0.0
200900000003 2009-01-29 06:45:00    3  440   52    1    1  1.0    3  0.0   0.0
200900000004 2009-04-01 06:15:00    3  440   44    1    1  9.0    6  0.0   0.0
200900000005 2009-01-16 15:00:00    1  440   36    1    1  1.0    7  0.0   0.0
...                          ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
200900074719 2009-11-17 17:40:00    1  972   13    1    1  1.0    2  NaN   NaN
200900074720 2009-11-21 21:00:00    3  972   13    1    1  1.0    2  NaN   NaN
200900074721 2009-01-11 11:20:00    1  972   13    1    1  1.0    5  NaN   NaN
200900074722 2009-08-11 15:40:00    1  974    9    2    1  1.0    7  NaN   NaN
200900074898 2009-03-04 12:25:00    1  973    2    1    3  1.0    3  NaN   NaN

[73051 rows x 10 columns]

In [124]:
dfcarac

,Date,lum,dep,com,agg,int,atm,col,lat,long
Num_Acc,,,,,,,,,,
200800000001,2008-01-22 10:15:00,1,330,424,2,1,1,6,4515400.0,-82600.0
200800000002,2008-10-01 08:15:00,1,330,348,1,1,1,7,0.0,0.0
200800000003,2008-01-16 08:00:00,2,330,350,2,1,1,3,4478200.0,-12500.0
200800000004,2008-01-20 11:00:00,1,330,394,1,1,1,2,4491400.0,-19900.0
200800000005,2008-01-25 06:45:00,5,330,394,2,1,1,3,4490000.0,-15500.0
...,...,...,...,...,...,...,...,...,...,...
200800077565,2008-09-12 14:05:00,1,974,414,2,1,2,7,NaN,NaN
200800077566,2008-12-19 16:35:00,1,974,416,2,1,1,3,NaN,NaN
200800077567,2008-12-19 17:15:00,1,974,416,2,3,9,1,NaN,NaN
200800077568,2008-12-23 16:30:00,1,974,416,2,1,1,6,NaN,NaN
200800077569,2008-03-12 08:00:00,1,974,414,2,2,1,3,NaN,NaN

In [ ]:
dfcarac["dep"]

In [94]:
dfcarac = pd.read_csv(carac+"caracteristiques_2008.csv",sep=',',
                          usecols=["jour","mois","an","hrmn","lum","dep","com","agg","int","atm","col","lat","long","Num_Acc"],
                          encoding="ISO-8859-1"
                         )
dfcarac["an"] = "2008"
dfcarac['Date'] = dfcarac["jour"].astype(str) + "-" +dfcarac["mois"].astype(str)+ "-" + dfcarac["an"].astype(str)
dfcarac["hrmn"]=dfcarac["hrmn"].astype(str).apply(lambda x:x[:-2]+':'+x[-2:])
#dfcarac["hrmn"]
#dfcarac['Date'] = pd.to_datetime(dfcarac["Date"] + " " + dfcarac["hrmn"])
dfcarac.drop(dfcarac[dfcarac["hrmn"].str.len()<4].index,inplace=True)
dfcarac[dfcarac["hrmn"].str.len()<4]

Empty DataFrame
Columns: [Num_Acc, an, mois, jour, hrmn, lum, agg, int, atm, col, com, lat, long, dep, Date]
Index: []

In [66]:
dff = pd.read_csv(carac+"caracteristiques-2019.csv",sep=';',
                          usecols=["jour","mois","an","hrmn","lum","dep","com","agg","int","atm","col","lat","long","Num_Acc"],
                          encoding="ISO-8859-1"
                         )
dff["hrmn"].str.replace(":","")

0        0130
1        0250
2        1515
3        2020
4        0400
         ...
58835    0900
58836    0750
58837    0241
58838    1520
58839    2050
Name: hrmn, Length: 58840, dtype: object

In [26]:
df2019 = pd.concat([dfcarac19, dflieux19,dfvehic19],axis=1)
mapping_catv = {7:"Véhicule Léger",
                33:"2 Roues Motorisé",
                10:"Véhicule Utilitaire",
                1:"EDP",
                2:"2 Roues Motorisé",
                30:"2 Roues Motorisé",
                32:"2 Roues Motorisé",
                31:"2 Roues Motorisé",
                34:"2 Roues Motorisé",
                3:"Voiturette",
                15:"Poids Lourd",
                37:"Bus",
                17:"Poids Lourd",
                14:"Poids Lourd",
                50:"EDP",
                43:"2 Roues Motorisé",
                13:"Poids Lourd",
                80:"EDP",
                21:"Engin Spécial",
                36:"2 Roues Motorisé",
                20:"Engin Spécial",
                38:"Bus",
                60:"EDP",
                16:"Poids Lourd",
                42:"2 Roues Motorisé",
                35:"2 Roues Motorisé",
                31:"2 Roues Motorisé",
                }

mapping_col = {1:"Frontale",2:"Arriere",3:"Latérale",4:"En chaîne",5:"Multiple",7:"Sans collision"}

mapping_lum = {1:"Plein jour",2:"Crépuscule ou aube",3:"Nuit sans éclairage",4:"Nuit sans éclairage",5:"Nuit avec éclairage"}

mapping_agg = {1:"Hors agglomération",2:"En agglomération"}

mapping_int = {1:"Hors intersection",
               2:"Intersection en X",
               3:"Intersection en Y",
               4:"Intersection a plus de 4 branches",
               6:"Giratoire",
               7:"Place",
               8:"Passage à niveau"
              }

mapping_atm = {1:"Normale",
               2:"Pluie legère",
               3:"Pluie forte",
               4:"Neige",
               5:"Brouillard",
               6:"Vent fort",
               7:"Temps éblouissant",
               8:"Temps couvert"
              }

mapping_catr = {1:"Autoroute",
                2:"Route nationale",
                3:"Route départemantale",
                4:"Voie communale",
                5:"Hors réseau public",
                6:"Parc de stationnement",
                7:"Routes de métropole urbaine"
               }

mapping_surf = {1:"Normale",
                2:"Mouillée",
                3:"Flaques",
                4:"Inondée",
                5:"Enneigée",
                6:"Boue",
                7:"Verglas",
                8:"Corps gras",
               }

mapping_obsm = {0:"Aucun",1:"Piéton",2:"Véhicule",5:"Animal",6:"Animal"}

mapping_infra = {0:"Aucun",1:"Tunnel",2:"Pont",3:"Bretelle",4:"Voie ferrée",5:"Carrefour",6:"Zone piétone",
                 7:"Zone de péage",8:"Chantier"}

df2019["col"] = df2019["col"].map(mapping_col)
df2019["catv"] = df2019["catv"].map(mapping_catv)
df2019["lum"] = df2019["lum"].map(mapping_lum)
df2019["agg"] = df2019["agg"].map(mapping_agg)
df2019["int"] = df2019["int"].map(mapping_int)
df2019["atm"] = df2019["atm"].map(mapping_atm)
df2019["catr"] = df2019["catr"].map(mapping_catr)
df2019["surf"] = df2019["surf"].map(mapping_surf)
df2019["obsm"] = df2019["obsm"].map(mapping_obsm)
df2019["infra"] = df2019["infra"].map(mapping_infra)

df2019.dropna(inplace=True)
# df2019.loc[df2019["catr"] == 'Autoroute',"voie"] = 'A' + df2019.loc[df2019["catr"] == 'Autoroute',"voie"].apply(str)
# df2019.loc[df2019["catr"] == 'Route nationale',"voie"] = 'N' + df2019.loc[df2019["catr"] == 'Route nationale',"voie"].apply(str)
# df2019.loc[df2019["catr"] == 'Route départemantale',"voie"] = 'D' + df2019.loc[df2019["catr"] == 'Route départemantale',"voie"].apply(str)

In [27]:
df2019["obsm"].value_counts()

Véhicule    28219
Aucun        6865
Piéton        646
Animal        247
Name: obsm, dtype: int64