In [1]:
import pandas as pd
import numpy as np

In [103]:
df2019 = pd.DataFrame()
df2018 = pd.DataFrame()
df2019 = pd.read_csv("caracteristiques-2019.csv",sep=';')
df2018 = pd.read_csv("caracteristiques-2018.csv",sep=',',encoding = "ISO-8859-1")

In [104]:
df2019['Date'] = df2019["jour"].astype(str) + "-" +df2019["mois"].astype(str)+ "-" + df2019["an"].astype(str)
df2019['Date'] = pd.to_datetime(df2019["Date"] + " " + df2019["hrmn"])
df2019 = df2019.drop(['jour','mois','an','hrmn','Num_Acc'],axis=1)
cols = df2019.columns.to_list()
newcol = cols[-1:]+cols[:-1]
df2019=df2019[newcol]

In [105]:
df2019

,Date,lum,dep,com,agg,int,atm,col,adr,lat,long
0,2019-11-30 01:30:00,4,93,93053,1,1,1,2,AUTOROUTE A3,"48,8962100","2,4701200"
1,2019-11-30 02:50:00,3,93,93066,1,1,1,6,AUTOROUTE A1,"48,9307000","2,3688000"
2,2019-11-28 15:15:00,1,92,92036,1,1,1,4,AUTOROUTE A86,"48,9358718","2,3191744"
3,2019-11-30 20:20:00,5,94,94069,1,1,1,4,A4,"48,8173295","2,4281502"
4,2019-11-30 04:00:00,3,94,94028,1,1,1,2,A86 INT,"48,7763620","2,4332540"
...,...,...,...,...,...,...,...,...,...,...,...
58835,2019-11-30 09:00:00,1,69,69288,1,1,5,2,A43 13.029 A 15.971,"45,6666600","5,0561200"
58836,2019-11-27 07:50:00,1,67,67482,1,1,8,4,Autoroute A.35,"48,5769000","7,7269000"
58837,2019-11-30 02:41:00,4,94,94021,1,1,1,6,AUTOROUTE A6A,"48,7717000","2,3457600"
58838,2019-11-30 15:20:00,1,78,78640,1,1,1,7,A86 EXT,"48,7772890","2,2237590"
58839,2019-11-29 20:50:00,3,92,92047,1,1,1,2,A13,"48,8351236","2,1751101"

In [117]:
df2019 = df2019.loc[df2019["dep"].isin(["91","92","93","94","95","75","77","78"])].reset_index()

In [129]:
df2019[df2019.isnull().any(axis=1)]

,index,Date,lum,dep,com,agg,int,atm,col,adr,lat,long
1688,5589,2019-07-25 09:40:00,1,75,75118,2,2,1,3,NaN,"48,9004050","2,3702080"
2528,9067,2019-11-21 17:05:00,5,78,78517,2,1,2,3,NaN,"48,6260920","1,8224920"
9134,31257,2019-12-19 22:30:00,1,77,77527,1,9,1,6,NaN,"48,6863850","2,9827100"